<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <title>Вход</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

<div class="page">

    <div class="header">
        <div class="container">

            <div class="logo">
                Savva Clinic
            </div>

            <div class="clear"></div>

        </div>
    </div>


    <div class="hero">
        <div class="container">

            <form class="form" th:action="@{/login}" method="post">

                <h2>Вход в систему</h2>

                <div class="formRow">
                    <label>Логин</label>
                    <label>
                        <input type="text" name="username"/>
                    </label>
                </div>

                <div class="formRow">
                    <label>Пароль</label>
                    <label>
                        <input type="password" name="password"/>
                    </label>
                </div>

                <div th:if="${param.error}" class="error">
                    Неверный логин или пароль
                </div>

                <button type="submit" class="button">
                    Войти
                </button>

            </form>


        </div>
    </div>

</div>

</body>
</html>