<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:fragment="title">Записи</title>
</head>

<body>

<th:block th:replace="layout :: layout (~{::title}, ~{::header}, ~{::content})">

    <th:block th:fragment="header">
        <h1 sec:authorize="hasRole('ADMIN')">
            Список всех записей
        </h1>

        <h1 sec:authorize="hasRole('DOCTOR')">
            Ваши записи
        </h1>
    </th:block>

    <th:block th:fragment="content">

        <div class="container">

            <div class="sectionTitle">
                <a class="buttonAdd" href="/appointments/new" sec:authorize="hasRole('ADMIN')">
                    Новая запись
                </a>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Клиент</th>
                    <th>Телефон</th>
                    <th>Врач</th>
                    <th>Дата</th>
                    <th>Статус</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="a : ${appointments}">
                    <td th:text="${a.clientFullName}"></td>
                    <td th:text="${a.clientPhone}"></td>
                    <td th:text="${a.doctorFullName}"></td>
                    <td th:text="${#temporals.format(a.time, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="#{${'appointments.status.' + a.status}}"></td>
                    <td>
                        <a class="button" th:href="@{/a/{id}(id=${a.id})}">Подробнее</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </th:block>

</th:block>

</body>
</html>